# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyCharm
.idea

# VSCode
.vscode
cartesian_demos/
cartesian_demos_target/
cartesian_demos_move_plate/
cartesian_demos_target_move_plate/
.claude/debug_archive/
tmp/
rby1/
rby1_cartesian_demos_reachtarget/
rby1_cartesian_demos_moveplate/

venv/
*/h1_ee_cache/